/Account/obj
/Account/bin
/AccountManager/obj
/AccountManager/bin
/BaseLib/obj
/BaseLib/bin
/BasePD/bin
/BasePD/obj
/BoardManager/obj
/BoardManager/bin
/CommentManager/bin
/CommentManager/obj
/FollowManagers/obj
/FollowManagers/bin
/InviteManager/obj
/InviteManager/bin
/LikeManager/obj
/LikeManager/bin
/PinDominator_Setup
/PinDominator3.0/obj
/PinDominator3.0/bin
/PinManager/obj
/PinManager/bin
/PinsManager/obj
/PinsManager/bin
/ScraperManagers/obj
/ScraperManagers/bin
